.restaurants-counter
  h4
    text-transform: uppercase
    font-size: 20px
    padding: 30px 0px 15px
.container-list
  display: flex
  height: 60vh
  flex-direction: column
  overflow-y: scroll
  &-card
    width: 99%
    display: flex
    flex-direction: row
    border: 1px solid $light_grey_color
    border-radius: 5px
    margin: 3px 0px
    -webkit-box-shadow: 0px 0px 8px -7px rgba(61,61,61,0.72)
    box-shadow: 0px 0px 8px -7px rgba(61,61,61,0.72)
    &-image
      width: 30%
      img
        width: 100%
        height: 100%
        border-top-left-radius: 5px
        border-bottom-left-radius: 5px
    &-content
      width: 70%
      padding: 15px
      display: flex
      flex-direction: column
      &-header
        display: flex
        flex-direction: row
        justify-content: space-between
        font-weight: bold
        font-size: 1.2rem
      &-meta
        color: $grey_color
        font-size: 0.8rem
      &-extra
        display: flex
        justify-content: space-between
        align-items: baseline
        padding-top: 20px
        &-rating
          display: flex
          align-items: baseline
          font-size: 0.8rem
          font-weight: bold
          p
            margin-right: 5px
        &-button.ui.button
          color: $light_orange_color
          background: $extralight_orange_color
          font-weight: bold
          cursor: pointer
